{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Letbonus Challenge by Daniel Vaquero</span></h1>
            </div>

            <div id="status">
                {{  form(productForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% include 'styles.html.twig' %}
{% endblock %}
